.woo-vou-vou-code-wrapper {
	
	
}
.woo-vou-dashboard-widget-text-wrap {
	padding: 24px 10px 5px
}

/*New status table*/
.woo-vou-dash-voucher-status-widget {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.woo-vou-dash-voucher-status-widget h2 {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
}

.woo-vou-dash-voucher-status-table {
    width: 100%;
    border-collapse: collapse;
}

.woo-vou-dash-voucher-status-table th, 
.woo-vou-dash-voucher-status-table td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

.woo-vou-dash-voucher-status-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.woo-vou-dash-voucher-status-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.woo-vou-dash-amount {
    font-weight: bold;
}

.woo-vou-dash-voucher-status-table thead tr th:first-child {
    border-top-left-radius: 7px;
    overflow: hidden;
}

.woo-vou-dash-voucher-status-table {
    border-radius: 7px;
}
.woo-vou-dash-clear-btn {
    margin: 10px 0;
    text-align: right;
}
.dash-clear-table {
    overflow: hidden;
    border-radius: 7px;
    border: 1px solid #bdbdbd;
}
.woo-vou-dash-voucher-status-table tbody tr:last-child td {
    border-bottom: 0px;
}
.woo-vou-dash-voucher-status-table th, .woo-vou-dash-voucher-status-table td {
    border: 0px;
    border-right: 1px solid #bdbdbd;
    border-bottom: 1px solid #bdbdbd;
    font-size: 17px;
    font-weight: 700;
}
.woo-vou-dash-voucher-status-table th:first-child ,
.woo-vou-dash-voucher-status-table td:first-child {
    text-align: left;
}
.woo-vou-dash-voucher-status-table td {
    color: #9d9d9d;
}


#dashboard_widget .inside {
/*    border: 1px solid #bdbdbd;*/
    padding: 0;
    border-radius: 7px;
    overflow: hidden;
    width: calc(100% - 24px);
    margin: 8px auto !important;
}

.woo-vou-dash-voucher-status-table th:last-child, .woo-vou-dash-voucher-status-table td:last-child {
    border-right: 0px;
}